<!DOCTYPE html>
<html>
  <head>
    <title>Biblioteca Codespacer</title>
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"/>
    <script src="/javascripts/jwt-decode.min.js"></script>
  </head>
  <body>
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <a href="/">
              <img src="/images/logo.png" width="120" class="m-3" />
            </a>
          </div>
          <div class="col-2 text-right mr-4 mt-4">
            <a type="button" href="/login" class="btn btn-success w-100">Login</a>
          </div>
          <div class="col-2 text-right mr-4 mt-4">
            <a type="button" href="/newUser" class="btn btn-primary w-100 ">Sign</a>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
