<!DOCTYPE html>
<html>

<head>
  <title>Biblioteca Codespacer</title>
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <script src="/javascripts/jwt-decode.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col logo mb-2">
          <a href="/">
            <img src="/images/logo.png" width="120" />
            <span class="mt-4">MyLibrary</span>
          </a>
        </div>
        <div class="col-2 text-right mr-4 mt-4">
          <a href="/login">
            <button type="button" class="btn btn-outline-success w-100">Login</button>
          </a>
        </div>
        <div class="col-2 text-right mr-4 mt-4">
          <a href="/newUser">
            <button type="button" class="btn btn-outline-primary w-100 ">Sign</button>
          </a>
        </div>
      </div>
    </div>
  </header>
</body>

</html>