<% include _header %>
<main>
  <div class="container text-index">
    <div class="row text-light">
      <div class="col mt-5">
        <div class="row">
          <span class="title-index">Welcome to MyLibrary</span>
        </div>
        <div class="row">
          <p class="w-50">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
            quidem eaque architecto sed dolor explicabo voluptatibus atque rerum
            accusamus.
          </p>
        </div>
        <div class="row">
          <div class="text-center button-index">
            <a href="/books">
              <input type="button" class="btn btn-danger w-100" value="Books" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container squares-index">
    <div class="row">
      <div class="col">
        <div class="row">
          <img src="/images/icon1.png" alt="" />
        </div>
        <div class="row">
          <span class="box-title">Control</span>
          <span class="box-body">Have control over your rented books</span>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <img src="/images/icon1.png" alt="" />
        </div>
        <div class="row">
          <span class="box-title">+30.000 books</span>
          <span class="box-body">Biggest database about books</span>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <img src="/images/icon1.png" alt="" />
        </div>
        <div class="row">
          <span class="box-title">Online</span>
          <span class="box-body">Rent your book online. Anywhere, anytime</span>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <img src="/images/icon1.png" alt="" />
        </div>
        <div class="row">
          <span class="box-title">Statistics</span>
          <span class="box-body"
            >Personalized statistics on read pages, favorite books and
            authors...</span
          >
        </div>
      </div>
    </div>
  </div>
</main>
<% include _footer %>
