<% include _header %>
<main>
  <div class="container">
    <div class="row h1 text-light text-center">
      <div class="col mt-5">
        Welcome to our library
      </div>
    </div>
  </div>
</main>
<% include _footer %>
