<% include _header %>
<main>
  <div class="p-3 w-25 form register">
    <h1 class="text-center text-light mb-4">Sign In</h1>
    <form method="POST">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder="Username"
        />
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="name" placeholder="Name" />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="surname"
          placeholder="Surname"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
          placeholder="Password"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="email"
          id="email"
          placeholder="Email"
        />
      </div>

      <div class="text-center">
        <input
          type="button"
          class="btn w-100"
          value="Send"
          onclick="sendInfo()"
        />
      </div>
    </form>
  </div>

  <ul id="list"></ul>
</main>
<script>
  if (decoded.isAdmin == false) {
    location.href = "/";
  }
  function sendInfo() {
    const usernameValue = document.getElementById("username").value;
    const passwordValue = document.getElementById("password").value;
    const emailValue = document.getElementById("email").value;
    const nameValue = document.getElementById("name").value;
    const surnameValue = document.getElementById("surname").value;

    fetch("api/users", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        username: usernameValue,
        name: nameValue,
        surname: surnameValue,
        password: passwordValue,
        email: emailValue
      })
    }).then(response => {
      if (response.ok) {
        response.text().then(text => {
          location.href = "/users";
        });
      }
    });
  }
</script>
<% include _footer %>
