<% include _header %>
<main>
  <div class="container">
    <h1 class="text-center text-light w-25" style="margin:auto; background-color: #343a40; border-radius: 30px;">User List</h1>
    <table class="table text-center mt-5">
      <thead>
        <tr class="bg-dark text-light">
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col" id="email-hidden">Email</th>
          <th scope="col">Admin</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="table" class="bg-light"></tbody>
    </table>
  </div>
  <div id="divUser" class="text-center"></div>
</main>

<script>
const token = sessionStorage.getItem("token");
  if (!token) {
    location.href = "/login";
  }

  var decoded = jwt_decode(token);

  fetch("api/users", {
    //es una promesa
    headers: {
      "Content-type": "application/json",
      Authorization: "Bearer " + token
    }
  }).then(response => {
    if (response.ok) {
      if (decoded.isAdmin) {
        const aUser = document.createElement("a");
        aUser.setAttribute("href", "/newUser");
        const btnUser = document.createElement("img");
        btnUser.setAttribute("src", "/images/add-user.svg");
        btnUser.setAttribute("width", "50");
        aUser.appendChild(btnUser);
        document.getElementById("divUser").appendChild(aUser);
        response.json().then(json =>
          json.map(user => {
            const tr = document.createElement("tr");
            tr.setAttribute("class", "list-users");
            document.getElementById("table").appendChild(tr);
            const tdprofile = document.createElement("td");
            const td1 = document.createElement("td");
            const td2 = document.createElement("td");
            const td3 = document.createElement("td");
            const td4 = document.createElement("td");
            const td5 = document.createElement("td");
            tr.append(tdprofile, td1, td2, td3, td4, td5);
            const btnDelete = document.createElement("img");
            td4.appendChild(btnDelete);
            btnDelete.setAttribute("src", "/images/close.png");
            btnDelete.setAttribute("width", "20");
            btnDelete.setAttribute("class", "hover-edit");
            btnDelete.setAttribute("style", "cursor:pointer");
            btnDelete.onclick = () => {
              fetch("api/users/" + user._id, {
                method: "DELETE"
              }).then(() => {
                location.href = "/users";
              });
            };
            const btnUpdate = document.createElement("img");
            td5.appendChild(btnUpdate);
            btnUpdate.setAttribute("src", "/images/edit-profile.png");
            btnUpdate.setAttribute("width", "20");
            btnUpdate.setAttribute("class", "hover-edit");
            btnUpdate.setAttribute("style", "cursor:pointer");
            btnUpdate.onclick = () => {
              location.href = "/editUser/" + user._id;
            };
            const btnProfile = document.createElement("img");
            btnProfile.setAttribute("src", "/images/user.png");
            btnProfile.setAttribute("width", "20");
            btnProfile.setAttribute("class", "hover-edit");
            let linktd1 = document.createElement("a");
            tdprofile.appendChild(linktd1);
            linktd1.href = "/users/" + user._id;
            linktd1.appendChild(btnProfile);
            td1.innerText = user.name;
            td2.innerText = user.email;
            if (user.isAdmin) {
              const keyImg = document.createElement("img");
              keyImg.setAttribute("src", "/images/key.png");
              keyImg.setAttribute("width", "20");
              td3.appendChild(keyImg);
            }
          })
        );
      } else {
        response.json().then(json =>
          json.map(user => {
            const tr = document.createElement("tr");
            const tdprofile = document.createElement("td");
            document.getElementById("table").appendChild(tr);
            const td1 = document.createElement("td");
            const td2 = document.createElement("td");
            const td3 = document.createElement("td");
            const td4 = document.createElement("td");
            const td5 = document.createElement("td");

            if (decoded.id == user._id) {
              const btnUpdate = document.createElement("img");
              td4.appendChild(btnUpdate);
              btnUpdate.setAttribute("src", "/images/edit-profile.png");
              btnUpdate.setAttribute("width", "20");
              btnUpdate.setAttribute("class", "hover-edit");
              btnUpdate.setAttribute("style", "cursor:pointer");
              btnUpdate.onclick = () => {
                location.href = "/editUser/" + user._id;
              };
              const btnProfile = document.createElement("img");
              btnProfile.setAttribute("src", "/images/user.png");
              btnProfile.setAttribute("width", "20");
              btnProfile.setAttribute("class", "hover-edit");
              let linktd1 = document.createElement("a");
              tdprofile.appendChild(linktd1);
              linktd1.href = "/users/" + user._id;
              linktd1.appendChild(btnProfile);
              tr.append(tdprofile, td4);
            }
            tr.append(tdprofile, td1, td2, td3, td4, td5);
            td1.innerText = user.name;
            td2.innerText = user.email;
            if (user.isAdmin) {
              const keyImg = document.createElement("img");
              keyImg.setAttribute("src", "/images/key.png");
              keyImg.setAttribute("width", "20");
              td3.appendChild(keyImg);
            }
          })
        );
      }
    }
  });
</script>
<% include _footer %>
